.x-button.x-button-action, .x-toolbar .x-button.x-button-action,.x-toolbar-dark .x-button {
    color : #000000;
    background:#FBB7D6;
}
/* 로그인 로고부분 배경색*/

.memberlogin {
    background-color: #f993c2;
    background: #f993c2;
}
/* 로그인 Form 부분 배경색*/

.mainbutton {
    background:#FBB7D6;

}
/* 메인 네비게이션뷰 버튼 */

.subbutton {
    background:#f993c2;
}
/* 테스트페이지 네비게이션뷰 버튼 */

.GrayTypeButton {
    background:#f0f0f0;
}

.GrayTypeButton:active {
    background:#d5d5d5;
}

.PinkTypeButton {
    background:#FBB7D6;
}
.PinkTypeButton:active {
    background:#f993c2;
}

.toolbar{
    background-color:#d5d5d5;
}
/* 아동정보 타이틀바 배경색 */

.SearchList{
    background : #FBB7D6;
}

.SearchList .x-html {
    padding : 0px;
    line-height: 1;
}

.SearchList .x-html td {
    padding: 2.5px 0px 0px 2.5px;
    margin:0 auto;
}

.NoticeList {
    background : #FBB7D6;
}
.NoticeList .x-list-item{
    min-height: 30px;
    margin:0 auto;
    padding : 0px;
}
.Notice .x-list .x-list-item.x-list-item-tpl .x-innerhtml {
    padding : 1% 1% 1% 1% ;
    font-size : 15px;
}

